.container {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.qr-picture {
    border-radius: 15px;
    width: 100%;
}

p{
    width: 205px;
    font-size: 12px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

.belief {
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin-bottom: 0;
}